alembic==0.9.6
beautifulsoup4==4.5.1
bleach==2.1.2
blinker==1.4
boto==2.42.0
bs4==0.0.1
certifi==2017.11.5
chardet==3.0.4
click==6.7
cycler==0.10.0
defusedxml==0.5.0
Flask==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-MySQLdb==0.2.0
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gunicorn==19.6.0
html5lib==0.999999999
icalendar==4.0.0
idna==2.6
invoke==0.22.0
itsdangerous==0.24
Jinja2==2.10
Mako==1.0.7
Markdown==2.6.7
MarkupSafe==1.0
matplotlib==2.1.0
mysqlclient==1.3.12
numpy==1.13.3
oauthlib==2.0.0
olefile==0.44
passlib==1.7.1
Pillow==6.2.0
psycopg2==2.6.2
pygame==1.9.3
PyJWT==1.4.2
pyparsing==2.2.0
python-dateutil==2.6.1
python-editor==1.0.3
python-mimeparse==1.6.0
python-social-auth==0.2.21
python3-openid==3.0.10
pytz==2017.3
reportlab==3.4.0
requests==2.11.1
requests-oauthlib==0.7.0
six==1.10.0
SQLAlchemy==1.1.15
urllib3==1.22
virtualenv==15.1.0
visitor==0.1.3
webencodings==0.5
Werkzeug==0.13
WTForms==2.1
